# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/
.env

# Editors / tooling
.vscode/
.idea/

# Arduino / PlatformIO artifacts
.pio/
.build*/
*.bin
*.elf
*.hex

# Local secrets
brickphone-fw-voiceclient/secrets.h
brickphone-fw/secrets.h
